.form_control{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form_control label{
  margin-bottom:  1rem;

  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.form_control input{
  padding: 1.5rem;

  font-size: 1.6rem;
  color: var(--text-color);
  border: none;
  border-radius: 0.5rem;
  background-color: #010101;
}
.form_control input::placeholder{
  font-weight: 400;
  font-size: 1.4rem;
  color: #ffffff;
}
.form_control input:focus{
  outline: none;
}