.form_control{
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.form_control label{
  margin-bottom:  0.6rem;

  color: var(--text-color);
  font-size: 1.6rem;
}


.form_control select{
  cursor: pointer;
  border: none;
  padding: 1.5rem;
  color: white;
  font-size: 1.6;
  background-color: #010101;

}
.form_control select:focus{
  outline: none;
}