.form_control{
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.form_control label{
  margin-bottom:  0.6rem;
  color: var(--text-color);
  font-weight: bold;
}

.form_control select{
  cursor: pointer;
  border: none;
  padding: 0.7rem;
  border: none;
}
.form_control select:focus{
  outline: none;
}