.btn{
  padding: 1rem;
  
  font-size: 1.6rem;
  border: none;
  border-radius: var(--button-bordeRadius);
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #222;
}

.btn:hover{
    filter: brightness(12px);
    filter: drop-shadow(0 0 0.75rem rgb(56, 3, 146, 50%));
    background: rgb(148, 3, 129);
}