.newproject_container{
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
  /* background-color: blue; */
}
.newproject_container h1{
  color: var(--title-color);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.newproject_container p{
  font-size: 1.6rem;
  color: var(--text-color);
}